NODE_ENV=development

PG_NAME=
PG_SECRET=
PG_PORT=
PG_LOGIN=
PG_PASS=

# vaultwarden
VW_PG_NAME=vaultwarden
VW_SIGNUPS_ALLOWED=false
VW_WEBSOCKET_ENABLED=true
VW_ADMIN_TOKEN=supersecureadmintoken

CORE_DOMAIN=localhost
WWW_HOSTNAME=www
DASHY_HOSTNAME=dashy
REVOLT_HOSTNAME=revolt
AUTHENTIK_HOSTNAME=authn
GITLAB_HOSTNAME=gitlab
NOTESNOOK_HOSTNAME=notesnook
VAULTWARDEN_HOSTNAME=vw

REVOLT_PUBLIC_URL=

AUTHENTIK_PORT_HTTP=
AUTHENTIK_PORT_HTTPS=
AUTHENTIK_SECRET_KEY=
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=
AUTHENTIK_EMAIL__USE_SSL=
AUTHENTIK_EMAIL__TIMEOUT=
AUTHENTIK_EMAIL__FROM=

# Notesnook
INSTANCE_NAME=self-hosted-notesnook-instance
NOTESNOOK_API_SECRET=
DISABLE_SIGNUPS=false
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_SERVICE_SID=
NOTESNOOK_CORS_ORIGINS=
NOTESNOOK_APP_PUBLIC_URL=https://app.notesnook.com
MONOGRAPH_PUBLIC_URL=http://localhost:6264
AUTH_SERVER_PUBLIC_URL=http://localhost:8264
ATTACHMENTS_SERVER_PUBLIC_URL=http://localhost:9000
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Mailer
SMTP_HOST=smtp
SMTP_FROM=admin@vault.local
SMTP_PORT=1025
SMTP_PASSWORD=
SMTP_USERNAME=

DASHY_OUT_PORT=4000
DASHY_DOCKER_PORT=8080
YOUTRACK_OUT_PORT=4001
YOUTRACK_DOCKER_PORT=8080
GITLAB_OUT_PORT=4002
GITLAB_DOCKER_PORT=8929
CADDY_HTTP_OUT_PORT=80
CADDY_HTTP_DOCKER_PORT=80
CADDY_HTTPS_OUT_PORT=443
CADDY_HTTPS_DOCKER_PORT=443
AUTHENTIK_HTTP_OUT_PORT=80
AUTHENTIK_HTTP_DOCKER_PORT=80
AUTHENTIK_HTTPS_OUT_PORT=443
AUTHENTIK_HTTPS_DOCKER_PORT=443