NODE_ENV=production # | development

PG_LOGIN=
PG_PASS= # ossl script

CORE_DOMAIN= #<your_domain>
WWW_HOSTNAME=
DASHY_HOSTNAME=
REVOLT_HOSTNAME=
AUTHENTIK_HOSTNAME=
GITLAB_HOSTNAME=
NOTESNOOK_HOSTNAME=

AUTHENTIK_PORT_HTTP=
AUTHENTIK_PORT_HTTPS=
AUTHENTIK_SECRET_KEY=
AUTHENTIK_EMAIL__HOST=
AUTHENTIK_EMAIL__PORT=
AUTHENTIK_EMAIL__USERNAME=
AUTHENTIK_EMAIL__PASSWORD=
AUTHENTIK_EMAIL__USE_TLS=
AUTHENTIK_EMAIL__USE_SSL=
AUTHENTIK_EMAIL__TIMEOUT=
AUTHENTIK_EMAIL__FROM=

DASHY_OUT_PORT=4000
DASHY_DOCKER_PORT=8080
YOUTRACK_OUT_PORT=4001
YOUTRACK_DOCKER_PORT=8080
GITLAB_OUT_PORT=4002
GITLAB_DOCKER_PORT=8929
CADDY_HTTP_OUT_PORT=80
CADDY_HTTP_DOCKER_PORT=80
CADDY_HTTPS_OUT_PORT=443
CADDY_HTTPS_DOCKER_PORT=443