namespace: infrastructure

bytebase:
  postgres:
    external: true
    host: "postgres-postgresql.db.svc.cluster.local"
    port: 5432
    database: "bytebase"
    user: "bytebase"
    password: "{{ .Values.secrets.bytebasePostgresPassword }}"

ingress:
  enabled: true
  className: traefik
  host: bytebase.{{ .Values.infra.host }}
  tls:
    enabled: true
    secretName: bytebase-tls

consul:
  enabled: true
  tags:
    - bytebase
    - database





