namespace: code

hub:
  config:
    baseUrl: "http://hub.{{ .Values.infra.host }}"

persistence:
  storageClass: openebs-hostpath
  data:
    size: 3Gi
  config:
    size: 5Gi
  logs:
    size: 1Gi

postgresql:
  external: true
  host: "postgres-postgresql.db.svc.cluster.local"
  password: "{{ .Values.secrets.postgresPassword }}"

ingress:
  enabled: true
  host: hub.{{ .Values.infra.host }}

consul:
  enabled: true
  host: "consul.consul.svc.cluster.local"
