namespace: db

replicaCount: 1
mode: standalone

persistence:
  enabled: true
  storageClass: openebs-hostpath
  size: 2Gi

ingress:
  enabled: true
  hosts:
    - host: {{ .Values.infra.host }}.local
      paths:
        - path: /
          pathType: Prefix

minioConfig:
  accessKey: minio
  secretKey: minioSecurePassword123
