namespace: db

mongodb:
  replicaSet: rs0
  replicaCount: 3
  image: mongo:7.0.12
  auth:
    enabled: false

persistence:
  enabled: true
  storageClass: openebs-hostpath
  size: 3Gi

consul:
  enabled: true
  datacenter: dc1

arbiter:
  enabled: true
