namespace: productivity

global:
  postgresqlEnabled: true
  valkeyEnabled: true

persistence:
  assets:
    enabled: true

ingress:
  enabled: true
  className: traefik
  hosts:
    - penpot.localhost
  paths:
    - /
  annotations: {}
