namespace: data

syncthing:
  replicaCount: 1

persistence:
  enabled: true
  storageClass: openebs-hostpath
  config:
    size: 5Gi
  sync:
    size: 1Gi

ingress:
  enabled: true
  host: syncthing.{{ .Values.infra.host }}.local

consul:
  enabled: true
  host: "consul.consul.svc.cluster.local"
  tags:
    - syncthing
    - file-sync
