namespace: code

server:
  persistence:
    storageClass: openebs-hostpath
    size: 5Gi

agent:
  replicaCount: 2
  persistence:
    storageClass: openebs-hostpath
    size: 3Gi

postgresql:
  external: true
  host: "postgresql.code.svc.cluster.local"
  password: "{{ .Values.secrets.postgresPassword }}"

ingress:
  enabled: true
  host: teamcity.{{ .Values.infra.host }}

consul:
  enabled: true
  host: "consul.consul.svc.cluster.local"
