namespace: service

server:
  replicaCount: 1
  ha:
    enabled: true
    replicas: 3
  dataStorage:
    storageClass: local-path
    size: 3Gi
  auditStorage:
    storageClass: local-path
    size: 1Gi

ui:
  enabled: true

ingress:
  enabled: true
  host: vault.{{ .Values.infra.host }}
  tls:
    clusterIssuer: selfsigned-ca-issuer

consul:
  enabled: true
  host: "consul.consul.svc.cluster.local"

injector:
  enabled: true
