namespace: service

server:
  replicaCount: 3
  ha:
    enabled: true
    replicas: 3
  dataStorage:
    storageClass: openebs-hostpath
    size: 3Gi
  auditStorage:
    storageClass: openebs-hostpath
    size: 1Gi

ui:
  enabled: true

ingress:
  enabled: true
  host: vault.{{ .Values.infra.host }}

consul:
  enabled: true
  host: "consul.consul.svc.cluster.local"

injector:
  enabled: true
