[DEFAULT]
# Ban hosts for specified time
bantime = {{ fail2ban_ssh_bantime | default(3600) }}

# Override /etc/fail2ban/jail.d/00-firewalld.conf:
banaction = iptables-multiport

# A host is banned if it has generated "maxretry" during "findtime" seconds
findtime = {{ fail2ban_ssh_findtime | default(600) }}
maxretry = {{ fail2ban_ssh_maxretry | default(5) }}

# Destination email address used solely for the interpolations in
# jail.{conf,local,d/*} configuration files.
destemail = {{ fail2ban_dest_email | default('root@localhost') }}

# Sender email address used solely for some actions
sendername = Fail2Ban

# Email action
action = %(action_)s

[sshd]
enabled = true
port = {{ ssh_port | default(2678) }}
logpath = %(sshd_log)s
backend = %(sshd_backend)s
maxretry = {{ fail2ban_ssh_maxretry | default(5) }}
bantime = {{ fail2ban_ssh_bantime | default(3600) }}
findtime = {{ fail2ban_ssh_findtime | default(600) }}

[sshd-ddos]
enabled = true
port = {{ ssh_port | default(2678) }}
logpath = %(sshd_log)s
backend = %(sshd_backend)s
maxretry = {{ fail2ban_ssh_ddos_maxretry | default(10) }}

