(dashboard_vars) {
  vars {
    core_domain      {$CORE_DOMAIN:localhost}
    dashy_port       {$DASHY_OUT_PORT:4000}
    youtrack_port    {$YOUTRACK_OUT_PORT:4001}
    gitlab_port      {$GITLAB_OUT_PORT:8929}
    notesnook_port   {$NOTESNOOK_OUT_PORT:8929}
    authn_port       {$AUTHENTIK_OUT_PORT:4003}
  }
}

mail.{$CORE_DOMAIN:localhost} {
    reverse_proxy stalwart-mail:8080
    tls your_email@example.com
}

www.{$CORE_DOMAIN:localhost} {
    reverse_proxy localhost:8080
}

dashy.{$CORE_DOMAIN:localhost} {
    import dashboard_vars
    reverse_proxy localhost:{dashy_port}
}

youtrack.{$CORE_DOMAIN:localhost} {
    import dashboard_vars
    reverse_proxy localhost:{youtrack_port}
}

gitlab.{$CORE_DOMAIN:localhost} {
    import dashboard_vars
    reverse_proxy localhost:{gitlab_port}
}

notesnook.{$CORE_DOMAIN:localhost} {
    reverse_proxy localhost:{gitlab_port}
}

auth.{$CORE_DOMAIN:localhost} {
    reverse_proxy localhost:9000
}

revolt.{$CORE_DOMAIN:localhost} {
    route /api* {
        uri strip_prefix /api
        reverse_proxy http://api:14702
    }

    route /ws {
        uri strip_prefix /ws
        reverse_proxy http://events:14703
    }

    route /autumn* {
        uri strip_prefix /autumn
        reverse_proxy http://autumn:14704
    }

    route /january* {
        uri strip_prefix /january
        reverse_proxy http://january:14705
    }

    reverse_proxy http://web:5000
}

:9000 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / prometheus:9000 {
            transparent
        }

    errors stderr
    tls off
}

:9001 {
    proxy / grafana:9001 {
            transparent
            websocket
        }

    errors stderr
    tls off
}

:9002 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / alertmanager:9002 {
            transparent
        }

    errors stderr
    tls off
}

:9091 {
    basicauth / {$ADMIN_USER} {$ADMIN_PASSWORD}
    proxy / pushgateway:9091 {
            transparent
        }

    errors stderr
    tls off
}
