{
    admin off
    auto_https disable_redirects
    debug
}

(reverse_proxy_service) {
    # обращаемся сначала к сервису внутри Docker (например dashy), а потом к порту
    reverse_proxy {args.0}:{args.1}
}

{$CORE_DOMAIN:localhost} {
    respond "Welcome to main domain. Available services on {$CORE_DOMAIN:haha}: www {$WWW_OUT_PORT:4000004}, gitlab, dashy" 200
}

dashy.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service dashy 8080
}

youtrack.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service youtrack 8080
}

www.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service www 3000
}

gitlab.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service gitlab {$GITLAB_OUT_PORT:4002}
}

notesnook.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service notesnook {$NOTESNOOK_OUT_PORT:4014}
}

auth.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service auth {$AUTHENTIK_OUT_PORT:4011}
}

mail.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service mail {$MAIL_OUT_PORT:4004}
}

watchtower.{$CORE_DOMAIN:localhost} {
    route /tower* {
        import reverse_proxy_service watchtower 8080
    }
}

# DB

bytebase.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service bytebase 8080
}

# SD

consul.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service consul-server 8500
}

fabio.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service fabio 9998
}

# LOGGING

elastic.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service elasticsearch 9300
}

logstash.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service logstash 5044
}

kibana.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service kibana 5601
}

# MONITORING

prometheus.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service prometheus 9090
}

grafana.{$CORE_DOMAIN:localhost} {
    reverse_proxy grafana:3000
}

alert.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service alertmanager 9093
}

pushgw.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service pushgateway 9091
}

node-exporter.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service node-exporter 9100
}

cadvisor.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service cadvisor 8080
}

bb.{$CORE_DOMAIN:localhost} {
    import reverse_proxy_service blackbox 9115
}

# CHAT

revolt.{$CORE_DOMAIN:localhost} {
    route /api* {
        uri strip_prefix /api
        import reverse_proxy_service api 14702
    }

    route /ws {
        uri strip_prefix /ws
        import reverse_proxy_service events 14703
    }

    route /autumn* {
        uri strip_prefix /autumn
        import reverse_proxy_service autumn 14704
    }

    route /january* {
        uri strip_prefix /january
        import reverse_proxy_service january 14705
    }

    import reverse_proxy_service web 5000
}

# FORBIDDEN

*.{$CORE_DOMAIN:localhost} {
    respond "Service not found" 404
}
