ADMIN_TOKEN=
WEBSOCKET_ENABLED=true
SIGNUPS_ALLOWED=true ##change to false once create the admin account
DOMAIN=https://bitwarden.example.com #replace example.com with your domain
SMTP_HOST=smtp-relay.sendinblue.com
SMTP_FROM=user@example.com ##replace example.com with your domain
SMTP_TIMEOUT=15
SMTP_USERNAME=user@example.com ##sendinblue user
SMTP_PASSWORD=sendinblue password
SMTP_SECURITY=starttls     # Options: off, force_tls, starttls
SMTP_PORT=587
